// Safely allow the caller to clear any contained floats
@mixin himation--clearfix {
  &::after {
    clear: both;
    content: "";
    display: block;
  }
}

// Make the caller a container for a fluid media item with a known aspect ratio
//
// @param <length> $aspect-ratio The aspect ratio expressed as height over width
@mixin himation--fluid-media-container($aspect-ratio: 1) {
  display: block;
  height: 0;
  overflow: hidden;
  padding-top: $aspect-ratio * 100%;
  position: relative;
}

// Make the caller fill the space provided by its media container
//
// @param <string> $center The direction in which to center the media
@mixin himation--fluid-media($center: both) {
  bottom: 0;
  display: block;
  left: 0;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  right: 0;
  top: 0;

  @if $center == horizontal {
    margin: 0 auto;
  } @else if $center == vertical {
    margin: auto 0;
  } @else {
    margin: auto;
  }
}

// Hide the content while ensuring that is is accessible to screen readers
@mixin himation--hide {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}
