$himation--breakpoint-condensed-width: 65em;
$himation--breakpoint-tablet-width: 52em;
$himation--breakpoint-phone-width: 30em;

// Restrict styles to a viewport with a limited resolution
//
// @param <length> $max-width The maximum screen width to which to apply the given styles
// @param <length> $min-width The minimum screen width to which to apply the given styles
@mixin himation--breakpoint($max-width, $min-width: null) {
  @if $min-width {
    @media screen and (min-width: $min-width) and (max-width: $max-width) {
      @content;
    }
  } @else {
    @media screen and (max-width: $max-width) {
      @content;
    }
  }
}

// Apply styles for normal-sized viewports showing a condensed layout
@mixin himation--breakpoint-condensed {
  @include himation--breakpoint($himation--breakpoint-condensed-width) {
    @content;
  }
}

// Apply styles for medium-width tablet-like viewports
@mixin himation--breakpoint-tablet {
  @include himation--breakpoint($himation--breakpoint-tablet-width) {
    @content;
  }
}

// Apply styles for low-width phone-like viewports
@mixin himation--breakpoint-phone {
  @include himation--breakpoint($himation--breakpoint-phone-width) {
    @content;
  }
}
