<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% set page_title %}{% block page_title %}{% endblock %}{% endset %}

    <title>{% if page_title %}{{ page_title }} - {% endif %}{% block title %}Cover Your Basics{% endblock %}</title>

    {% for stylesheet in assets.stylesheets %}
      <link rel="stylesheet" href="{{ stylesheet }}">
    {% endfor %}
  </head>

  <body class="l--app">
    <div class="l--app__content" id="app-content">{{ content | safe }}</div>

    {% for javascript in assets.javascripts %}
      <script src="{{ javascript }}"></script>
    {% endfor %}
  </body>

</html>
