<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% set page_title %}{% block page_title %}{% endblock %}{% endset %}

    <title>{% if page_title %}{{ page_title }} - {% endif %}{% block title %}Cover Your Basics{% endblock %}</title>

    {% block assets_head %}{% endblock %}
  </head>

  <body class="l--app">
    {% block content %}{% endblock %}

    {% block assets_body %}{% endblock %}
  </body>

</html>
