<!doctype html>
<html lang="en" class="supports-no-js">

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{% block title %}{% endblock %}</title>

    {% for stylesheet in assets.stylesheets %}
      <link rel="stylesheet" href="{{ stylesheet }}" />
    {% endfor %}

    <link rel="shortcut icon" href="{{ favicon }}" />
    <link rel="apple-touch-icon" href="{{ touchIcon }}" />

    <meta property="og:description" content="We take the pain out of keeping your professional wardrobe stocked with essentials.">
    <meta property="og:image" content="{{ facebookShareImage }}">
    <meta property="og:locale" content="en_US">
    <meta property="og:site_name" content="Cover Your Basics">
    <meta property="og:type" content="website">
    <meta property="fb:app_id" content="974211189368087">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@coveryourbasics">
    <meta name="twitter:image" content="{{ twitterLogo }}">
    <meta name="twitter:image:alt" content="The logo for Cover Your Basics">

    {% block meta %}{% endblock %}

    <script src="{{ modernizrUrl }}"></script>
  </head>

  <body class="l--app">
    <div class="l--site for-{% block page_id %}{% endblock %}">
      <header class="l--site__header">

        <div class="l--site__header__logo">
          <a href="{{ urls.index }}" class="l--site__logo">
            <img src="{{ logo }}" class="l--site__logo__image" alt="Cover Your Basics" width="68" height="85" />
          </a>
        </div>

        <navigation class="l--site__header__navigation">
          <ul class="l--site__pages">
            <li class="l--site__page">
              <a href="{{ urls.survey }}" class="l--site__page__name">Take Our Survey</a>
            </li>
            <li class="l--site__page">
              <a href="{{ urls.about }}" class="l--site__page__name">About Us</a>
            </li>
          </ul>
        </navigation>

      </header>

      <div class="l--site__body">
        <div class="l--site__body__content" id="{{ contentId }}">{{ content | safe }}</div>
      </div>

      <footer class="l--site__footer">
        <div class="l--site__footer__logo">
          <img src="{{ logo }}" class="l--site__footer__logo__image" alt="Cover Your Basics" width="68" height="85" />
        </div>

        <ul class="l--site__footer__links">
          <li class="l--site__footer__link for-survey">
            <a href="{{ urls.survey }}" class="l--site__footer__link-name">Take Our Survey</a>
          </li>
          <li class="l--site__footer__link">
            <a href="{{ urls.index }}" class="l--site__footer__link-name">Home</a>
          </li>
          <li class="l--site__footer__link">
            <a href="{{ urls.about }}" class="l--site__footer__link-name">About Us</a>
          </li>
        </ul>

        <ul class="l--site__footer__social-links">
          <li class="l--site__footer__social-link">
            <a class="l--site__footer__social-link__name for-linkedin" href="https://www.linkedin.com/company/cover-your-basics" title="LinkedIn">
              <img class="l--site__footer__social-link__icon" alt="LinkedIn" src="{{ socialIcons.linkedin }}" width="28" height="28" />
            </a>
          </li>
          <li class="l--site__footer__social-link">
            <a class="l--site__footer__social-link__name for-facebook" href="https://www.facebook.com/coveryourbasics" title="Facebook">
              <img class="l--site__footer__social-link__icon" alt="Facebook" src="{{ socialIcons.facebook }}" width="28" height="28" />
            </a>
          </li>
          <li class="l--site__footer__social-link">
            <a class="l--site__footer__social-link__name for-twitter" href="https://twitter.com/coveryourbasics" title="Twitter">
              <img class="l--site__footer__social-link__icon" alt="Twitter" src="{{ socialIcons.twitter }}" width="28" height="28" />
            </a>
          </li>
        </ul>
      </footer>
    </div>

    <script>window['{{ stateVariableName }}'] = {{ reduxState | safe }};</script>

    {% for javascript in assets.javascripts %}
      <script src="{{ javascript }}"></script>
    {% endfor %}

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', '{{ googleAnalyticsId }}', 'auto');
      ga('send', 'pageview');
    </script>
  </body>

</html>
