<table cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td>
      <div class="cyb--welcome">
        <h1 class="cyb--welcome__title">Welcome to Cover Your Basics</h1>
        <p class="cyb--welcome__text">
          You’re well on your way to not showing up to work naked.  Yay you!  Keep an eye on your inbox for our monthly-ish updates about featured items.  In the meantime, if you’d like to share your thoughts about your experience with the site or getting dressed for work, just respond to this email.  We’re a brand-new site, and we’re just getting started, so we’d love to hear your ideas.
        </p>
        <p class="cyb--welcome__footer">&ndash;Bethany</p>
      </div>
    </td>
  </tr>
</table>
