.cyb--welcome {

}

.cyb--welcome__title {
  font-size: 1.75em;
  font-weight: bold;
}

.cyb--welcome__text {
  font-size: 1.25em;
  line-height: 1.375;
  margin-top: 1em;
}

.cyb--welcome__footer {
  font-size: 1.25em;
  margin-top: 1.5em;
}
