@import "himation/mixins/responsive";

.l--page {

}

.l--page__title {
  font-size: 1.75em;
  font-weight: $himation--font-weight-light;
  margin: 1.5em 0;
  padding: 0 $himation--site-gutter;
}

.l--page__content {

}

@include himation--breakpoint-phone {

  .l--page__title {
    padding-left: $himation--site-condensed-gutter;
    padding-right: $himation--site-condensed-gutter;
  }

}
