@import "himation/mixins/forms";
@import "himation/mixins/responsive";

.l--pitch {
  background-color: $himation--form-field-bg-color;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 3em;
  min-height: calc(100vh - #{$himation--site-header-height});
  padding: 3em $himation--site-gutter;
}

.l--pitch__tagline {
  font-size: 2.75em;
  font-weight: $himation--font-weight-bold;
  line-height: 1.125;
  margin-bottom: 0.5em;
}

.l--pitch__details {
  font-size: 1.25em;
  font-weight: 300;
  line-height: 1.375;
}

.l--pitch__cta {
  margin-top: 2em;
  text-align: center;
}

.l--pitch__button {
  @include himation--button;
  font-size: 1.5em;
  font-weight: $himation--font-weight-semi-bold;
  padding: 1em 3em;
}

@include himation--breakpoint-tablet {

  .l--pitch {
    font-size: 0.8em;
  }

}

@include himation--breakpoint-phone {

  .l--pitch__tagline {
    font-size: 1.75em;
    line-height: 1.25;
    margin-bottom: 1em;
  }

  .l--pitch__details {
    line-height: 1.5;
  }

  .l--pitch__cta {
    margin-top: 3em;
  }

}
