@import "himation/mixins/forms";
@import "himation/mixins/responsive";

$_pitch--content-width: 100% - $himation--site-gutter * 2;

$_pitch--image-width: 33% * ($_pitch--content-width / 100%);
$_pitch--tagline-image-width: 35%;

.l--pitch {
  background-color: $himation--form-field-bg-color;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 3em;
  min-height: calc(100vh - #{$himation--site-header-height});
  padding: 0 $himation--site-gutter;
  position: relative;
  z-index: $himation--z-flat;
}

.l--pitch__content {
  padding: 3em 0;
  padding-right: $_pitch--image-width + 5%;
  position: relative;
  z-index: 2;
}

.l--pitch__tagline {
  font-size: 2.75em;
  font-weight: $himation--font-weight-bold;
  line-height: 1.125;
  margin-bottom: 0.5em;
}

.l--pitch__tagline__image {
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: contain;
  display: none;
  z-index: -1;
}

.l--pitch__details {
  font-size: 1.25em;
  font-weight: 300;
  line-height: 1.375;
}

.l--pitch__cta {
  margin-top: 2em;
  text-align: center;
}

.l--pitch__button {
  @include himation--button;
  font-size: 1.5em;
  font-weight: $himation--font-weight-bold;
  padding: 1em 3em;
}

.l--pitch__graphic {
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: contain;
  bottom: 0;
  position: absolute;
  right: $himation--site-gutter;
  top: 2%;
  width: $_pitch--image-width;
  z-index: 1;
}

@include himation--breakpoint-tablet {

  .l--pitch {
    font-size: 0.8em;
  }

  .l--pitch__graphic {
    right: 1%;
  }
  .l--pitch__content {
    padding-right: $_pitch--image-width;
  }

}

@include himation--breakpoint-phone {

  .l--pitch__content {
    padding-right: 0;
  }

  .l--pitch__tagline {
    font-size: 1.75em;
    line-height: 1.25;
    margin-bottom: 0;
    padding-bottom: 1em;
    padding-right: $_pitch--tagline-image-width - $himation--site-gutter * 2;
    position: relative;
  }
  .l--pitch__tagline__image {
    bottom: 0;
    display: block;
    position: absolute;
    right: $himation--site-gutter * -1;
    top: 2%;
    width: $_pitch--tagline-image-width;
  }

  .l--pitch__details {
    border-top: 1px solid darken($himation--form-field-bg-color, 20%);
    box-shadow: 0 1px 0 lighten($himation--form-field-bg-color, 25%) inset;
    line-height: 1.5;
    margin-left: -100%;
    margin-right: -100%;
    padding-left: 100%;
    padding-right: 100%;
    padding-top: 1em;
  }

  .l--pitch__cta {
    margin-top: 3em;
  }

  .l--pitch__graphic {
    display: none;
  }

}
