@import "himation/functions/assets";
@import "himation/mixins/capabilities";
@import "himation/mixins/responsive";

$_recommendations--basic-teaser-gutter: 2px;

.l--recommendations {
  padding: 0 $himation--site-gutter;
  position: relative;
}

.l--recommendations__title {
  margin: 3em auto 1em;
  padding: 1em;
  text-align: center;
}

.l--recommendations__title__text {
  border: 2px solid currentColor;
  box-sizing: border-box;
  color: $himation--branding-primary-color;
  display: inline-block;
  font-size: 1.125em;
  font-weight: 500;
  letter-spacing: 0.05em;
  padding: 1em 3em;
  text-transform: uppercase;
}

.l--recommendations__basic-teasers {
  display: flex;
  flex-wrap: wrap;
  margin: $_recommendations--basic-teaser-gutter * -1;
}

.l--recommendations__basic-teaser {
  border: $_recommendations--basic-teaser-gutter * 0.5 solid $himation--page-bg-color;
  box-sizing: border-box;
  flex: 1 1 auto;
  height: 6em;
  width: 12em;

  .c--basic-teaser {
    height: 100%;
  }
}

.l--recommendations__basics {
  margin-top: 4em;
}

.l--recommendations__basic {
  & + & {
    margin-top: 3em;
  }
}

.l--recommendations__basic__footer {
  margin-top: 3em;
  text-align: center;
}

.l--recommendations__basic__return-link {
  color: $himation--branding-primary-color;
  display: inline-block;
  font-size: 0.7em;
  font-weight: $himation--font-weight-bold;
  opacity: 0.8;
  text-transform: uppercase;
  word-spacing: 0.125em;

  &::after {
    content: himation--image-url("icons/up-arrow.svg");
    display: inline-block;
    height: 0.9em;
    margin-left: 0.375em;
    width: 0.9em;
  }

  &:hover,
  &:focus {
    opacity: 1;
  }
}

.l--recommendations__registration {

}

.l--recommendations__registration__dismiss {
  background: $himation--page-bg-color;
  border: 1px solid $himation--branding-primary-color;
  border-radius: 0.25em;
  box-shadow: 0.25em 0.25em 0.5em rgba(0, 0, 0, 0.125);
  color: $himation--branding-primary-color;
  cursor: pointer;
  display: none;
  font-weight: $himation--font-weight-bold;
  padding: 1em;
  position: absolute;
  right: 2em;
  top: -0.25em;

  &:hover,
  &:focus {
    background: darken($himation--page-bg-color, 2.5%);
  }
}

.l--recommendations__registration__dismiss-icon {
  display: block;
  height: 1em;
  width: 1em;
}

.l--recommendations__registration__form {

  .c--registration {
    margin: 2em -100% 0;
    padding: 4em 100%;
  }

}

.l--recommendations.is-pitching {

  .l--recommendations__registration {
    bottom: 0;
    box-shadow: 0 -0.25em 1em rgba(0, 0, 0, 0.25);
    left: 0;
    position: fixed;
    right: 0;
    z-index: $himation--z-overlay;

  }

  .l--recommendations__registration__dismiss {
    display: block;
  }

  .l--recommendations__registration__form {
    .c--registration {
      margin: 0;
      padding: 2em $himation--site-gutter;
    }
  }

}

@include himation--flexbox-fallback {

  .l--recommendations__basic-teasers {
    display: block;
  }
  .l--recommendations__basic-teaser {
    display: inline-block;
    width: 20%;
  }

  @include himation--breakpoint-tablet {
    .l--recommendations__basic-teaser {
      width: (100% / 3);
    }
  }

  @include himation--breakpoint-phone {
    .l--recommendations__basic-teaser {
      width: 100%;
    }
  }

}
