@import "himation/functions/assets";

$_recommendations--basic-teaser-gutter: 2px;

.l--recommendations {
  padding: 0 $himation--site-gutter;
  position: relative;
}

.l--recommendations__title {
  margin: 3em auto 1em;
  padding: 1em;
  text-align: center;
}

.l--recommendations__title__text {
  border: 2px solid currentColor;
  box-sizing: border-box;
  color: $himation--branding-primary-color;
  display: inline-block;
  font-size: 1.125em;
  font-weight: 500;
  letter-spacing: 0.05em;
  padding: 1em 3em;
  text-transform: uppercase;
}

.l--recommendations__basic-teasers {
  display: flex;
  flex-wrap: wrap;
  margin: $_recommendations--basic-teaser-gutter * -1;
}

.l--recommendations__basic-teaser {
  border: $_recommendations--basic-teaser-gutter * 0.5 solid $himation--page-bg-color;
  box-sizing: border-box;
  flex: 1 1 auto;
  height: 6em;
  width: 12em;

  .c--basic-teaser {
    height: 100%;
  }
}

.l--recommendations__basics {
  margin-top: 4em;
}

.l--recommendations__basic {
  & + & {
    margin-top: 3em;
  }
}

.l--recommendations__basic__footer {
  margin-top: 3em;
  text-align: center;
}

.l--recommendations__basic__return-link {
  color: $himation--branding-primary-color;
  display: inline-block;
  font-size: 0.7em;
  font-weight: $himation--font-weight-bold;
  opacity: 0.8;
  text-transform: uppercase;
  word-spacing: 0.125em;

  &::after {
    content: himation--image-url("icons/up-arrow.svg");
    display: inline-block;
    height: 0.9em;
    margin-left: 0.375em;
    width: 0.9em;
  }

  &:hover,
  &:focus {
    opacity: 1;
  }
}
