@import "himation/mixins/capabilities";
@import "himation/mixins/forms";
@import "himation/mixins/responsive";

$_registration-pitch--z-active: 1;
$_registration-pitch--z-complete: 2;

@keyframes registration--slide-up {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

.l--registration-pitch {

}

.l--registration-pitch__dismiss {
  background: $himation--page-bg-color;
  border: 1px solid $himation--branding-primary-color;
  border-radius: 0.25em;
  box-shadow: 0.25em 0.25em 0.5em rgba(0, 0, 0, 0.125);
  color: $himation--branding-primary-color;
  cursor: pointer;
  display: none;
  font-weight: $himation--font-weight-bold;
  padding: 1em;
  position: absolute;
  right: 2em;
  top: -0.25em;
  z-index: $_registration-pitch--z-active;

  &:hover,
  &:focus {
    background: darken($himation--page-bg-color, 2.5%);
  }
}

.l--registration-pitch__dismiss-icon {
  display: block;
  height: 1em;
  width: 1em;
}

.l--registration-pitch__registration {
  background-color: $himation--branding-primary-color;
  color: $himation--branding-text-color;
  padding: 4em $himation--site-gutter;
  position: relative;
}

.l--registration-pitch__complete {
  align-items: center;
  animation-duration: 750ms;
  animation-name: registration--slide-up;
  background-color: $himation--branding-secondary-color;
  bottom: 0;
  color: $himation--branding-text-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  padding: 1em;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  z-index: $_registration-pitch--z-complete;
}

.l--registration-pitch__complete__text {
  font-size: 3em;
  font-weight: $himation--font-weight-light;
}

.l--registration-pitch__complete__dismiss {
  @include himation--ghost-button($dark: true);
  color: inherit;
  font-size: 0.9em;
  letter-spacing: 0.0625em;
  margin-top: 2em;
  padding: 1em 2em;
  text-transform: uppercase;
}

.l--registration-pitch.is-active {
  animation-duration: 750ms;
  animation-name: registration--slide-up;
  bottom: 0;
  box-shadow: 0 -0.25em 1em rgba(0, 0, 0, 0.25);
  left: 0;
  position: fixed;
  right: 0;
  z-index: $himation--z-overlay;

  .l--registration-pitch__dismiss {
    display: block;
  }

  .l--registration-pitch__registration {
    margin: 0;
    padding: 2em $himation--site-gutter;
  }
}

.l--registration-pitch.is-complete {

  .l--registration-pitch__dismiss {
    display: none;
  }

}

@include himation--breakpoint-tablet {

  .l--registration-pitch__dismiss {
    padding: 0.5em;
    right: 0.25em;
  }

  .l--registration-pitch__registration {
    padding-bottom: 3em;
    padding-top: 3em;
  }

  .l--registration-pitch__complete__text {
    font-size: 1.75em;
  }
  .l--registration-pitch__complete__dismiss {
    font-size: 0.7em;
  }
  .l--registration-pitch__dismiss-icon {
    height: 0.75em;
    width: 0.75em;
  }

  .l--registration-pitch.is-active {

    .l--registration-pitch__registration {
      padding-bottom: 1em;
      padding-top: 1em;
    }

  }

}

@include himation--breakpoint-phone {

  .l--registration-pitch__registration {
    padding-bottom: 2em;
    padding-top: 2em;
  }

  .l--registration-pitch__complete__text {
    font-size: 1.25em;
  }

}

@include himation--flexbox-fallback {

  .l--registration-pitch__complete {
    display: block;
    padding-top: 5em;
  }

}
