@import "himation/mixins/responsive";

$_site--footer-v-padding: 4em;
$_site--slogan-font-size: 1.25em;

.l--site {
  color: $himation--text-color;
  min-height: 100vh;
}

.l--site__header {
  align-items: center;
  background-color: $himation--branding-primary-color;
  color: $himation--branding-text-color;
  display: flex;
  justify-content: space-between;
  padding: 0 $himation--site-gutter;
}

.l--site__header__logo {
  $_border-size: 3px;

  background-color: $himation--branding-secondary-color;
  border: $_border-size solid $himation--page-bg-color;
  border-bottom: 0;
  border-top: 0;
  color: inherit;
  font-weight: $himation--font-weight-normal;
  line-height: 1.25;
  margin-bottom: $_border-size * -1;
  padding: 1.25em 2.25em;
  text-align: center;
  text-transform: uppercase;

  &:hover {
    background-color: lighten($himation--branding-secondary-color, 2.5%);
  }
}

.l--site__header__branding {

}

.l--site__logo {
  display: block;
  height: auto;
  width: 4.25em;
}

.l--site__slogan {
  font-size: $_site--slogan-font-size;
  font-weight: $himation--font-weight-light;
  letter-spacing: 0.025em;
}

.l--site__body {
  background-color: $himation--page-bg-color;
  color: $himation--page-text-color;
  overflow-x: hidden;
}

.l--site__body__content {

}

.l--site__footer {
  background-color: $himation--text-color;
  border-top: 1px solid darken($himation--text-color, 25%);
  color: $himation--branding-text-color;
  display: flex;
  font-size: 0.85em;
  margin-top: $_site--footer-v-padding * 2;
  padding: $_site--footer-v-padding $himation--site-gutter;
}

.l--site__footer__links {
  flex: 1;
}

.l--site__footer__link {
  display: inline-block;

  & + & {
    margin-left: 8%;
  }
}

.l--site__footer__link-name {
  color: inherit;
}

.l--site__footer__copyright {
  font-size: 0.9em;
  opacity: 0.75;
}

@include himation--breakpoint-tablet {

  .l--site__header__branding {
    flex: 1;
    padding-left: $himation--site-gutter * 0.75;
    text-align: center;
  }
  .l--site__slogan {
    letter-spacing: 0;
  }

}

@include himation--breakpoint-phone {

  .l--site__header {
    padding-left: $himation--site-condensed-gutter;
    padding-right: $himation--site-condensed-gutter;
  }
  .l--site__logo {
    width: 3.5em;
  }

  .l--site__header__branding {
    padding-left: $himation--site-condensed-gutter;
  }
  .l--site__slogan {
    font-size: $_site--slogan-font-size * 0.8;
    line-height: 1.375;
  }

  .l--site__footer {
    flex-direction: column;
    padding: $_site--footer-v-padding * 0.5 $himation--site-condensed-gutter;
  }
  .l--site__footer__links {
    margin-bottom: 1.5em;
  }

}
