@import "himation/mixins/responsive";

$_site--footer-v-padding: 4em;
$_site--slogan-font-size: 1.125em;

.l--site {
  color: $himation--text-color;
  min-height: 100vh;
}

.l--site__header {
  background-color: $himation--branding-primary-color;
  box-sizing: border-box;
  color: $himation--branding-text-color;
  display: table;
  min-height: $himation--site-header-height;
  padding: 1em $himation--site-gutter;
  table-layout: fixed;
  width: 100%;
}

.l--site__header__logo {
  background-color: $himation--branding-secondary-color;
  color: inherit;
  display: table-cell;
  width: 9em;

  &:hover {
    background-color: lighten($himation--branding-secondary-color, 2.5%);
  }
}

.l--site__header__branding {
  display: table-cell;
  text-align: right;
  vertical-align: middle;
}

.l--site__logo {
  box-sizing: border-box;
  display: block;
  height: auto;
  padding: 1em 2em;
  width: 100%;
}

.l--site__slogan {
  font-size: $_site--slogan-font-size;
  font-weight: $himation--font-weight-light;
  line-height: 1.375;
}

.l--site__body {
  background-color: $himation--page-bg-color;
  color: $himation--page-text-color;
  overflow-x: hidden;
}

.l--site__body__content {

}

.l--site__footer {
  background-color: $himation--text-color;
  box-sizing: border-box;
  color: $himation--branding-text-color;
  display: table;
  font-size: 0.85em;
  padding: $_site--footer-v-padding $himation--site-gutter;
  table-layout: fixed;
  width: 100%;
}

.l--site__footer__links {
  display: table-cell;
  text-align: left;
  vertical-align: middle;
}

.l--site__footer__copyright {
  color: lighten($himation--text-color, 45%);
  display: table-cell;
  font-size: 0.85em;
  text-align: center;
  vertical-align: middle;
}

.l--site__footer__social-links {
  display: table-cell;
  text-align: right;
  vertical-align: middle;
}

.l--site__footer__link {
  display: inline-block;
  font-size: 1.25em;

  & + & {
    margin-left: 2em;
  }
}

.l--site__footer__link-name {
  color: inherit;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.l--site__footer__social-link {
  display: inline-block;

  & + & {
    margin-left: 1.5em;
  }
}

.l--site__footer__social-link__name {
  display: block;
  opacity: 0.95;

  &:hover,
  &:focus {
    opacity: 1;
  }
}

.l--site__footer__social-link__icon {
  display: block;
  height: auto;
  width: 2em;
}

@include himation--breakpoint-tablet {

  .l--site__header__branding {
    padding-left: $himation--site-gutter;
    text-align: center;
  }
  .l--site__slogan {
    font-size: $_site--slogan-font-size * 0.9;
  }

}

@include himation--breakpoint-phone {

  .l--site__header {
    min-height: 0;
    padding: 0;
    padding-right: $himation--site-gutter;
  }
  .l--site__header__logo {
    width: 6em;
  }
  .l--site__logo {
    padding: 1em 1.5em;
  }
  .l--site__slogan {
    font-size: $_site--slogan-font-size * 0.7;
  }

  .l--site__footer {
    display: block;
    padding: $_site--footer-v-padding * 0.5 $himation--site-gutter;
  }

  .l--site__footer__links,
  .l--site__footer__copyright,
  .l--site__footer__social-links {
    display: block;
    text-align: center;
  }
  .l--site__footer__copyright {
    border: 1px solid lighten($himation--text-color, 10%);
    border-left: 0;
    border-right: 0;
    margin: 2.5em 0;
    padding: 1.25em 0;
  }

}
