@import "himation/mixins/responsive";

$_site--footer-v-padding: 4em;
$_site--slogan-font-size: 1.25em;

.l--site {
  color: $himation--text-color;
  min-height: 100vh;
}

.l--site__header {
  align-items: center;
  background-color: $himation--branding-primary-color;
  box-sizing: border-box;
  color: $himation--branding-text-color;
  display: flex;
  justify-content: space-between;
  min-height: $himation--site-header-height;
  padding: 1em $himation--site-gutter;
}

.l--site__header__logo {
  background-color: $himation--branding-secondary-color;
  color: inherit;

  &:hover {
    background-color: lighten($himation--branding-secondary-color, 2.5%);
  }
}

.l--site__header__branding {

}

.l--site__logo {
  box-sizing: border-box;
  display: block;
  height: auto;
  padding: 1em 2em;
  width: 9em;
}

.l--site__slogan {
  font-size: $_site--slogan-font-size;
  font-weight: $himation--font-weight-ultra-light;
  letter-spacing: 0.05em;
  line-height: 1.375;
}

.l--site__body {
  background-color: $himation--page-bg-color;
  color: $himation--page-text-color;
  overflow-x: hidden;
}

.l--site__body__content {

}

.l--site__footer {
  background-color: $himation--text-color;
  border-top: 1px solid darken($himation--text-color, 25%);
  color: $himation--branding-text-color;
  display: flex;
  font-size: 0.85em;
  margin-top: $_site--footer-v-padding;
  padding: $_site--footer-v-padding $himation--site-gutter;
}

.l--site__footer__links {
  flex: 1;
}

.l--site__footer__link {
  display: inline-block;

  & + & {
    margin-left: 8%;
  }
}

.l--site__footer__link-name {
  color: inherit;
}

.l--site__footer__copyright {
  font-size: 0.9em;
  opacity: 0.75;
}

@include himation--breakpoint-tablet {

  .l--site__header__branding {
    flex: 1;
    padding-left: $himation--site-gutter;
    text-align: center;
  }
  .l--site__slogan {
    font-size: $_site--slogan-font-size * 0.9;
  }

}

@include himation--breakpoint-phone {

  .l--site__header {
    min-height: 0;
    padding: 0;
    padding-right: $himation--site-gutter;
  }
  .l--site__logo {
    padding: 1em 1.5em;
    width: 6em;
  }
  .l--site__slogan {
    font-size: $_site--slogan-font-size * 0.65;
  }

  .l--site__footer {
    flex-direction: column;
    margin-top: 4em;
    padding: $_site--footer-v-padding * 0.5 $himation--site-gutter;
  }
  .l--site__footer__links {
    margin-bottom: 1.5em;
  }

}
