@import "himation/mixins/forms";
@import "himation/mixins/responsive";
@import "himation/mixins/typography";

$_survey--field-top-margin: 3.5em;

.l--survey {

}

.l--survey__title {
  border-bottom: 0.125em solid currentColor;
  display: inline-block;
  font-size: 2em;
  font-weight: $himation--font-weight-bold;
  margin: 0 $himation--site-gutter 1.25em;
  padding: 0.25em 0;
  text-transform: uppercase;
}

.l--survey__field {

  & + & {
    margin-top: $_survey--field-top-margin;
  }

  // Hide the honeypot field
  &.for-email {
    display: none;
  }

}

.l--survey__field__title {
  display: block;
  font-size: 1.5em;
  font-weight: $himation--font-weight-light;
  padding: 0 $himation--site-gutter 0.5em;
  width: 100%;
}

.l--survey__field__title__help {
  color: $himation--text-muted-color;
  display: block;
  font-size: 0.75em;
  margin-top: 0.25em;
}

.l--survey__field__content {
  background-color: $himation--form-field-bg-color;
  border: 1px solid darken($himation--form-field-bg-color, 10%);
  border-left: 0;
  border-right: 0;
  font-size: 0.85em;
  padding: 2em $himation--site-gutter;
}

.l--survey__buttons {
  margin-top: 3.5em;
  text-align: center;
}

.l--survey__submit-button {
  @include himation--button;
  box-sizing: border-box;
  font-size: 1.25em;
  font-weight: $himation--font-weight-semi-bold;
  margin: 0 0.25em;
  padding: 1.5em 0.5em;
  text-transform: uppercase;
  width: 40%;
}

@include himation--breakpoint-tablet {

  .l--survey__submit-button {
    width: 60%;
  }

}

@include himation--breakpoint-phone {

  .l--survey__title {
    font-size: 1.25em;
  }

  .l--survey__field {
    & + & {
      margin-top: $_survey--field-top-margin * 0.75;
    }
  }

  .l--survey__submit-button {
    width: 90%;
  }

}
