@import "himation/mixins/responsive";
@import "himation/mixins/typography";

$_survey--button-h-padding: 10%;

.l--survey {

}

.l--survey__field {

  // Hide the honeypot field
  &.for-email {
    display: none;
  }

}

.l--survey__field__title {
  display: block;
  font-size: 1.5em;
  font-weight: $himation--font-weight-light;
  padding: 2.5em $himation--site-gutter 0.5em;
  width: 100%;
}

.l--survey__field__title__help {
  color: $himation--text-muted-color;
  display: block;
  font-size: 0.75em;
  margin-top: 0.25em;
}

.l--survey__field__content {
  background-color: $himation--form-field-bg-color;
  border: 1px solid darken($himation--form-field-bg-color, 10%);
  border-left: 0;
  border-right: 0;
  font-size: 0.85em;
  padding: 2em $himation--site-gutter;
}

.l--survey__buttons {
  margin-top: 3.5em;
  text-align: center;
}

.l--survey__submit-button {
  background-color: $himation--branding-primary-color;
  border: 0.375em double $himation--page-bg-color;
  border-radius: 0.375em;
  box-sizing: border-box;
  color: $himation--branding-text-color;
  cursor: pointer;
  display: inline-block;
  font-size: 1.25em;
  font-weight: $himation--font-weight-semi-bold;
  padding: 1.5em $_survey--button-h-padding;
  text-transform: uppercase;

  &:hover,
  &:focus {
    background-color: lighten($himation--branding-primary-color, 5%);
  }

  &:focus {
    box-shadow: 0 0 0 1px $himation--branding-text-color inset;
    outline: 0;
  }

  &:disabled {
    background-color: $himation--branding-secondary-color;
    transition: background-color 0.75s;
  }
}

@include himation--breakpoint-phone {

  .l--survey__field__title,
  .l--survey__field__content {
    padding-left: $himation--site-condensed-gutter;
    padding-right: $himation--site-condensed-gutter;
  }

  .l--survey__submit-button {
    $_padding: $_survey--button-h-padding * 0.5;
    padding-left: $_padding;
    padding-right: $_padding;
  }

}
