@import "himation/mixins/forms";
@import "himation/mixins/responsive";
@import "himation/mixins/typography";

$_survey--button-h-padding: 10%;
$_survey--field-top-padding: 2.5em;

.l--survey {

}

.l--survey__title {
  border-bottom: 0.125em solid currentColor;
  font-size: 2.75em;
  font-weight: $himation--font-weight-bold;
  padding: 0.25em $himation--site-gutter;
}

.l--survey__field {

  // Hide the honeypot field
  &.for-email {
    display: none;
  }

}

.l--survey__field__title {
  display: block;
  font-size: 1.5em;
  font-weight: $himation--font-weight-light;
  padding: $_survey--field-top-padding $himation--site-gutter 0.5em;
  width: 100%;
}

.l--survey__field__title__help {
  color: $himation--text-muted-color;
  display: block;
  font-size: 0.75em;
  margin-top: 0.25em;
}

.l--survey__field__content {
  background-color: $himation--form-field-bg-color;
  border: 1px solid darken($himation--form-field-bg-color, 10%);
  border-left: 0;
  border-right: 0;
  font-size: 0.85em;
  padding: 2em $himation--site-gutter;
}

.l--survey__buttons {
  margin-top: 3.5em;
  text-align: center;
}

.l--survey__submit-button {
  @include himation--button;
  font-size: 1.25em;
  font-weight: $himation--font-weight-semi-bold;
  padding: 1.5em $_survey--button-h-padding;
  text-transform: uppercase;
}

@include himation--breakpoint-phone {

  .l--survey__title {
    font-size: 1.5em;
  }

  .l--survey__field__title {
    padding-top: $_survey--field-top-padding * 0.75;
  }

  .l--survey__submit-button {
    $_padding: $_survey--button-h-padding * 0.5;
    padding-left: $_padding;
    padding-right: $_padding;
  }

}
