@import "mixins/responsive";

$_recommendations--category-h-padding: 2em;
$_recommendations--category-v-padding: 1em;

.l--recommendations {
  position: relative;
}

.l--recommendations__categories {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.9em;
  margin: $_recommendations--category-v-padding * -1 $_recommendations--category-h-padding * -1;
}

.l--recommendations__category {
  box-sizing: border-box;
  flex: 1 1 (100% / 3);
  padding: $_recommendations--category-v-padding $_recommendations--category-h-padding;
}

.l--recommendations__basics {
  margin-top: 4em;
}

.l--recommendations__basic {
  & + & {
    margin-top: 3.5em;
  }
}

@include himation--breakpoint-phone-large {

  .l--recommendations__categories {
    margin-left: $_recommendations--category-h-padding * -0.5;
    margin-right: $_recommendations--category-h-padding * -0.5;
  }
  .l--recommendations__category {
    flex-basis: 50%;
    padding-left: $_recommendations--category-h-padding * 0.5;
    padding-right: $_recommendations--category-h-padding * 0.5;
  }

}
