$_recommendations--category-h-padding: 2em;
$_recommendations--category-v-padding: 1em;

.l--recommendations {
  position: relative;
}

.l--recommendations__categories {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.9em;
  margin: $_recommendations--category-v-padding * -1 $_recommendations--category-h-padding * -1;
}

.l--recommendations__category {
  box-sizing: border-box;
  flex: 1 1 (100% / 3);
  padding: $_recommendations--category-v-padding $_recommendations--category-h-padding;
}

.l--recommendations__basics {
  margin-top: 4em;
}

.l--recommendations__basic {
  & + & {
    margin-top: 3.5em;
  }
}
