@import "mixins/responsive";

$_site--gutter: 5%;
$_site--footer-v-padding: 4em;

.l--site {
  color: $himation--text-color;
  min-height: 100vh;
}

.l--site__header {
  align-items: center;
  background-color: $himation--branding-primary-color;
  color: $himation--branding-text-color;
  display: flex;
  font-size: 0.8em;
  justify-content: space-between;
  padding: 1em $_site--gutter;
}

.l--site__header__title {
  border: 1px solid rgba($himation--branding-text-color, 0.5);
  color: inherit;
  font-weight: $himation--font-weight-bold;
  padding: 1.25em;
  text-align: center;
  text-transform: uppercase;
  width: 3.75em;
}

.l--site__header__navigation {

}

.l--site__title {
  display: block;
}

.l--site__navigation {

}

.l--site__navigation__page {
  display: inline-block;

  & + & {
    margin-left: 3em;
  }
}

.l--site__navigation__link {
  color: inherit;
  text-transform: uppercase;
}

.l--site__body {
  background-color: $himation--page-bg-color;
  color: $himation--page-text-color;
  overflow-x: hidden;
  padding: 0 $_site--gutter;
}

.l--site__body__content {

}

.l--site__footer {
  background-color: $himation--branding-primary-color;
  color: $himation--branding-text-color;
  display: flex;
  font-size: 0.85em;
  margin-top: 4em;
  padding: $_site--footer-v-padding $_site--gutter;
}

.l--site__footer__links {
  flex: 1;
}

.l--site__footer__link {
  display: inline-block;

  & + & {
    margin-left: 8%;
  }
}

.l--site__footer__link-name {
  color: inherit;
}

.l--site__footer__copyright {
  font-size: 0.9em;
  opacity: 0.75;
}

@include himation--breakpoint-phone {

  .l--site__footer {
    flex-direction: column;
    padding-bottom: $_site--footer-v-padding * 0.5;
    padding-top: $_site--footer-v-padding * 0.5;
  }
  .l--site__footer__links {
    margin-bottom: 1.5em;
  }

}
