$_site--gutter: 5%;

.l--site {
  color: #333;
  min-height: 100vh;
}

.l--site__header {
  $_v-padding: 1em;
  align-items: center;
  border-bottom: 1px solid currentColor;
  display: flex;
  justify-content: space-between;
  margin: 0 $_site--gutter $_v-padding * 2;
  padding: $_v-padding 0;
}

.l--site__header__title {
  color: inherit;
  font-size: 1em;
  font-weight: 500;
  text-transform: uppercase;
}

.l--site__header__navigation {
  font-size: 0.9em;
}

.l--site__body {
  background-color: #fff;
  padding: 0 $_site--gutter;
}

.l--site__body__content {
  padding-bottom: 2em;
}
