$_site--gutter: 5%;

.l--site {
  color: $himation--text-color;
  min-height: 100vh;
}

.l--site__header {
  $_v-padding: 1em;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 $_site--gutter $_v-padding * 2;
  padding: $_v-padding 0;
}

.l--site__header__title {
  background-color: $himation--branding-bg-color;
  color: $himation--branding-text-color;
  font-weight: $himation--font-weight-bold;
  padding: 1em;
  text-transform: uppercase;
}

.l--site__header__navigation {
  padding-right: 2em;
}

.l--site__body {
  background-color: #fff;
  overflow-x: hidden;
  padding: 0 $_site--gutter;
}

.l--site__body__content {
  padding-bottom: 2em;
}
