$himation--text-color: #333;
$himation--text-accent-color: #000;
$himation--text-contrasting-color: #fff;
$himation--text-muted-color: #999;

$himation--branding-primary-color: #2d444d;
$himation--branding-secondary-color: #6a99ab;
$himation--branding-text-color: #fff;

$himation--page-bg-color: #fff;
$himation--page-text-color: $himation--text-color;

$himation--font-weight-light: 300;
$himation--font-weight-normal: 400;
$himation--font-weight-semi-bold: 500;
$himation--font-weight-bold: 700;

$himation--form-field-bg-color: #eee;
$himation--input-bg-color: #fff;
$himation--input-border-color: #ddd;
$himation--input-active-bg-color: $himation--branding-secondary-color;
$himation--input-active-border-color: darken($himation--input-active-bg-color, 25%);

$himation--z-page: 1;
$himation--z-flat: 2;
$himation--z-overlay: 3;

$himation--site-gutter: 5%;
$himation--site-condensed-gutter: 4%;
