@import "mixins/layout";

.c--basic-teaser {
  display: block;
  position: relative;
}

.c--basic-teaser__media {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(1);
  height: 100%;
  width: 100%;
}

.c--basic-teaser__media__image {
  display: none;
}

.c--basic-teaser__meta {
  background-color: rgba($himation--text-color, 0.9);
  bottom: 0;
  color: $himation--text-contrasting-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  padding: 0.5em;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
}

.c--basic-teaser__category {
  font-size: 0.7em;
  font-weight: $himation--font-weight-light;
  letter-spacing: 1px;
  opacity: 0.75;
  text-transform: uppercase;
}

.c--basic-teaser__name {
  font-size: 1.25em;
  font-weight: $himation--font-weight-light;
  margin-top: 0.25em;
}
