@import "mixins/layout";

$_garment--image-width: 100% / 3;

.c--garment {
  display: flex;
}

.c--garment__preview {
  flex: 0 0 auto;
  width: $_garment--image-width;
}

.c--garment__media {
  @include himation--fluid-media-container($aspect-ratio: 1.5);
}

.c--garment__media__image {
  @include himation--fluid-media($center: both);
}

.c--garment__details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0.5em 1.5em 0.5em 0.75em;
}

.c--garment__description {

}

.c--garment__name {
  color: $himation--text-accent-color;
  font-weight: $himation--font-weight-normal;
  font-size: 1.25em;
  line-height: 1.125;
  margin-bottom: 0.125em;
}

.c--garment__brand {
  color: $himation--text-muted-color;
  font-size: 0.75em;
  font-weight: $himation--font-weight-light;
}

.c--garment__purchase {
  background-color: $himation--callout-bg-color;
  border-radius: 0.125em;
  box-sizing: border-box;
  color: $himation--callout-text-color;
  font-size: 0.85em;
  font-weight: $himation--font-weight-semi-bold;
  margin-top: 0.5em;
  padding: 1em;
  text-align: center;
  width: 100%;
}

.c--garment__purchase__link {
  color: inherit;
}
