.c--navigation {

}

.c--navigation__pages {
  display: flex;
}

.c--navigation__page {
  font-weight: $himation--font-weight-semi-bold;

  & + & {
    margin-left: 5em;
  }
}

.c--navigation__page__link {
  color: inherit;
}
