.c--price-group {

}

.c--price-group__name {
  font-size: 0.75em;
  font-weight: bold;
  padding: 2em 1em;
  text-align: center;
  text-transform: uppercase
}

.c--price-group__garments {

}

.c--price-group__garment {
  & + & {
    margin-top: 2.5em;
  }

  .c--garment {
    border: 1px solid #ddd;
  }
}
