@import "mixins/responsive";

$_recommendations--price-group-gutter: 8%;

.c--recommendations {

}

.c--recommendations__header {
  background-color: $himation--text-color;
  color: $himation--text-contrasting-color;
  margin: 0 -100%;
  padding: 2.25em 100%;
  text-align: center;
  text-transform: uppercase;
}

.c--recommendations__header__basic {
  font-size: 2em;
  font-weight: $himation--font-weight-light;
  letter-spacing: 1px;
}

.c--recommendations__price-groups {
  display: flex;
}

.c--recommendations__price-group {
  flex: 1;
  margin: 0 $_recommendations--price-group-gutter * 0.5;
  min-width: 25%;

  &:first-child { margin-left: 0; }
  &:last-child { margin-right: 0; }
}

.c--recommendations__price-group__name {
  border: 2px solid currentColor;
  font-size: 0.75em;
  font-weight: $himation--font-weight-bold;
  margin: 3em 0;
  padding: 1em 0;
  text-align: center;
  text-transform: uppercase;
}

.c--recommendations__price-group__garments {
  display: flex;
}

.c--recommendations__price-group__garment {
  flex: 1;
  margin: 0 $_recommendations--price-group-gutter;
  min-width: 25%;

  &:first-child { margin-left: 0; }
  &:last-child { margin-right: 0; }
}

@include himation--breakpoint-tablet-only {

  .c--recommendations__price-group__garments {
    flex-direction: column;
  }
  .c--recommendations__price-group__garment {
    margin: $_recommendations--price-group-gutter 0;

    &:first-child { margin-top: 0; }
    &:last-child { margin-bottom: 0; }
  }

}

@include himation--breakpoint-phone {

  .c--recommendations__price-groups {
    flex-direction: column;
  }
  .c--recommendations__price-group {
    margin: $_recommendations--price-group-gutter * 0.5 0;

    &:first-child { margin-top: 0; }
    &:last-child { margin-bottom: 0; }
  }

}
