$_recommendations--price-group-gutter: 2%;

.c--recommendations {

}

.c--recommendations__basic {
  background-color: $himation--text-color;
  color: $himation--text-contrasting-color;
  font-size: 1.5em;
  font-weight: $himation--font-weight-light;
  margin: 0 -100%;
  padding: 1em 100%;
}

.c--recommendations__price-groups {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;

  th, td {
    padding: 0 $_recommendations--price-group-gutter * 0.5;

    &:first-child {
      padding-left: 0;
      padding-right: $_recommendations--price-group-gutter;
    }
    &:last-child {
      padding-left: $_recommendations--price-group-gutter;
      padding-right: 0;
    }
  }

  .for-group {
    font-size: 0.9em;
    font-weight: $himation--font-weight-bold;
    padding-bottom: 2em;
    padding-top: 2em;
    text-align: center;
    text-transform: uppercase;
  }

  .for-garment {
    vertical-align: top;
  }

  tr + tr .for-garment {
    padding-top: 2em;
  }

}

.c--recommendations__garment {
  border: 1px solid #ddd;
}
