.c--recommendations {

}

.c--recommendations__basic {
  background-color: $himation--text-color;
  color: $himation--text-contrasting-color;
  font-size: 1.5em;
  font-weight: $himation--font-weight-light;
  margin: 0 -100%;
  padding: 1em 100%;
}

.c--recommendations__price-groups {
  display: flex;
}

.c--recommendations__price-group {
  flex: 1;

  & + & {
    margin-left: 3%;
  }
}
