@import "himation/mixins/capabilities";

$_basic-teaser--tile-base-bg-color: darken($himation--branding-secondary-color, 25%);
$_basic-teaser--tile-base-opacity: 0.75;
$_basic-teaser--tile-accent-bg-color: $himation--text-color;
$_basic-teaser--tile-accent-opacity: 0.5;

$_basic-teaser--current-group: 1;
$_basic-teaser--total-groups: 6;

.c--basic-teaser {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: $himation--z-flat;
}

.c--basic-teaser__media {
  background-position: right 0 top 25%;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
  max-width: 10em;
  opacity: 0.5;
  position: absolute;
  right: -2em;
  width: 75%;
  z-index: 1;
}

.c--basic-teaser__meta {
  bottom: 0;
  color: $himation--text-contrasting-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  padding: 0.5em;
  position: absolute;
  right: 0;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.25);
  top: 0;
  z-index: 2;
}

.c--basic-teaser__category {
  font-size: 0.65em;
  font-weight: $himation--font-weight-light;
  letter-spacing: 1px;
  opacity: 0.75;
  text-transform: uppercase;
}

.c--basic-teaser__name {
  font-size: 1.125em;
  font-weight: $himation--font-weight-light;
  margin-top: 0.25em;
}

@while $_basic-teaser--current-group <= $_basic-teaser--total-groups {
  $_hue-spin: (($_basic-teaser--current-group - 1) / $_basic-teaser--total-groups) * -180deg;
  $_bg-color: adjust-hue($_basic-teaser--tile-base-bg-color, $_hue-spin);

  .c--basic-teaser[data-group-number="#{$_basic-teaser--current-group}"] {
    .c--basic-teaser__meta {
      background-color: rgba($_bg-color, $_basic-teaser--tile-base-opacity);
    }
  }

  $_basic-teaser--current-group: $_basic-teaser--current-group + 1;
}

.c--basic-teaser:hover,
.c--basic-teaser:focus {

  .c--basic-teaser__media {
    opacity: 1;
  }
  .c--basic-teaser__meta {
    background-color: rgba($_basic-teaser--tile-accent-bg-color, $_basic-teaser--tile-accent-opacity);
  }

}

@include himation--flexbox-fallback {

  .c--basic-teaser__meta {
    display: block;
    padding-top: 1.75em;
  }

}
