@import "himation/mixins/forms";

.c--birth-year-picker {

}

.c--birth-year-picker__field {
  @include himation--input-container;
}

.c--birth-year-picker__label {
  display: inline-block;
}

.c--birth-year-picker__data {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.c--birth-year-picker__error {
  @include himation--error-popover($size: 0.9em, $is-attached: true);
  bottom: 100%;
  left: -75%;
  margin-bottom: 0.5em;
  right: -75%;
}

.c--birth-year-picker__input {
  font-size: 1.5em;
  line-height: 1.25em;
  min-height: 1.25em;
  padding: 0.25em;
  text-align: center;
  width: 3.5em;

  &::placeholder {
    color: $himation--text-muted-color;
    font-size: 0.75em;
  }
}
