@import "himation/mixins/forms";
@import "himation/mixins/responsive";

$_body-shape--image-height: 20em;

.c--body-shape {
  @include himation--radio-button-container($padding: 1em);
}

.c--body-shape__example {

}

.c--body-shape__graphic {
  text-align: center;
}

.c--body-shape__graphic__image {
  display: block;
  margin: 0 auto;
  max-height: $_body-shape--image-height;
  max-width: 100%;
}

.c--body-shape__graphic__caption {
  margin-top: 1em;
}

.c--body-shape__input {

}

@include himation--breakpoint-condensed {

  .c--body-shape__graphic__image {
    max-height: $_body-shape--image-height * 0.75;
  }

}
