@import "himation/mixins/forms";

.c--body-shape {
  @include himation--radio-button-container($padding: 1em);
}

.c--body-shape__example {

}

.c--body-shape__graphic {
  text-align: center;
}

.c--body-shape__graphic__image {
  display: block;
  margin: 0 auto;
  max-height: 20em;
  max-width: 100%;
}

.c--body-shape__graphic__caption {
  margin-top: 1em;
}

.c--body-shape__input {

}
