@import "himation/mixins/capabilities";
@import "himation/mixins/forms";
@import "himation/mixins/responsive";

$_body-shape-picker--gutter: 1em;

.c--body-shape-picker {
  position: relative;
}

.c--body-shape-picker__error {
  @include himation--error-popover;
  bottom: 100%;
}

.c--body-shape-picker__body-shapes {
  display: flex;
  flex-wrap: wrap;
  margin: $_body-shape-picker--gutter * -1;
}

.c--body-shape-picker__body-shape {
  box-sizing: border-box;
  flex: 1 1 auto;
  padding: $_body-shape-picker--gutter;
}

@include himation--breakpoint-tablet {

  .c--body-shape-picker__body-shape {
    flex-basis: (100% / 3);
  }

}

@include himation--breakpoint-phone {

  .c--body-shape-picker__body-shape {
    flex-basis: 50%;
  }

}

@include himation--flexbox-fallback {

  .c--body-shape-picker__body-shapes {
    display: table;
    width: 100%;
  }
  .c--body-shape-picker__body-shape {
    display: table-cell;
  }

}
