@import "himation/mixins/capabilities";
@import "himation/mixins/forms";
@import "himation/mixins/responsive";

$_care-type-picker--gutter: 1em;

.c--care-type-picker {

}

.c--care-type-picker__types {
  display: flex;
  margin: 0 $_care-type-picker--gutter * -1;
}

.c--care-type-picker__type {
  @include himation--checkbox-container($padding: 1em);
  flex: 1;
  padding: 0 $_care-type-picker--gutter;
}

.c--care-type-picker__type__input {

}

.c--care-type-picker__type__label {

}

@include himation--breakpoint-phone {

  .c--care-type-picker__types {
    flex-direction: column;
  }

  .c--care-type-picker__type {
    & + & {
      margin-top: $_care-type-picker--gutter;
    }
  }

}

@include himation--flexbox-fallback {

  .c--care-type-picker__types {
    display: block;
  }
  .c--care-type-picker__type {
    box-sizing: border-box;
    display: inline-block;
    width: 50%;
  }

  @include himation--breakpoint-phone {

    .c--care-type-picker__type {
      display: block;
      margin-top: $_care-type-picker--gutter;
      width: 100%;
    }

  }

}
