@import "himation/mixins/forms";
@import "himation/mixins/responsive";

$_formality--text-gutter: 1em;

.c--formality {

}

.c--formality__details {
  align-items: center;
  display: flex;
}

.c--formality__media {
  flex: 1;
  padding-right: $_formality--text-gutter;
}

.c--formality__media__image {
  display: block;
  margin: 0 auto;
  max-width: 9em;
}

.c--formality__text {
  flex: 2;
  position: relative;
  width: 100%;
}

.c--formality__error {
  @include himation--error-popover;
  bottom: 85%;
}

.c--formality__name {
  $_font-size: 0.75em;

  color: $himation--text-muted-color;
  font-size: $_font-size;
  font-weight: $himation--font-weight-normal;
  letter-spacing: 1px;
  padding-bottom: 2em;
  text-align: center;
  text-transform: uppercase;
}

.c--formality__frequencies {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.c--formality__frequency {
  @include himation--radio-button-container($padding: 0.75em);
  font-size: 0.9em;

  & + & {
    margin-top: 0.5em;
  }
}

.c--formality__frequency__input {

}

.c--formality__frequency__label {

}

@include himation--breakpoint-tablet {

  .c--formality__details {
    flex-direction: column;
  }

  .c--formality__media {
    padding-right: 0;
  }
  .c--formality__name {
    padding: 2em 0;
  }

}

@include himation--breakpoint-phone {

  .c--formality__details {
    flex-direction: row;
  }

  .c--formality__media {
    padding-right: $_formality--text-gutter;
  }
  .c--formality__name {
    padding-top: 0;
  }

}
