@import "himation/mixins/forms";
@import "himation/mixins/responsive";

.c--formality {

}

.c--formality__error {

}

.c--formality__name {
  color: $himation--text-accent-color;
  font-size: 0.8em;
  font-weight: $himation--font-weight-bold;
  padding-bottom: 1em;
  text-align: center;
  text-transform: uppercase;
}

.c--formality__details {
  background-color: $himation--page-bg-color;
  display: flex;
}

.c--formality__example {
  flex: 1;
}

.c--formality__example__image {
  display: block;
  max-width: 100%;
}

.c--formality__frequencies {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  padding: 0 1em;
  text-align: center;
}

.c--formality__frequency {
  @include himation--radio-button-container($padding: 1em);
  font-size: 0.8em;

  & + & {
    border-top: 1px solid $himation--input-border-color;
  }
}

.c--formality__frequency__input {

}

.c--formality__frequency__label {
  display: block;
}

@include himation--breakpoint-tablet {

  .c--formality__details {
    flex-direction: column;
  }
  .c--formality__frequencies {
    padding: 0;
    padding-top: 1em;
  }

}

@include himation--breakpoint-phone {

  .c--formality__details {
    align-items: center;
    flex-direction: row;
  }
  .c--formality__frequencies {
    padding: 1em;
  }
  .c--formality__frequency {
    font-size: 0.7em;
  }

}
