@import "himation/functions/typography";
@import "himation/mixins/forms";
@import "himation/mixins/responsive";

$_formality--text-gutter: 1em;

.c--formality {

}

.c--formality__error {

}

.c--formality__details {
  align-items: center;
  display: flex;
}

.c--formality__media {
  flex: 1;
}

.c--formality__media__image {
  display: block;
  margin: 0 auto;
  max-width: 9em;
}

.c--formality__text {
  flex: 2;
}

.c--formality__name {
  $_font-size: 0.75em;

  color: $himation--text-muted-color;
  font-size: $_font-size;
  font-weight: $himation--font-weight-normal;
  letter-spacing: 1px;
  margin-bottom: 2em;
  padding-left: himation--relative-em($_formality--text-gutter, $_font-size);
  text-align: center;
  text-transform: uppercase;
}

.c--formality__frequencies {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  padding-left: $_formality--text-gutter;
  text-align: center;
}

.c--formality__frequency {
  @include himation--radio-button-container($padding: 0.75em);
  font-size: 0.8em;

  & + & {
    margin-top: 0.5em;
  }
}

.c--formality__frequency__input {

}

.c--formality__frequency__label {
  display: block;
}

@include himation--breakpoint-tablet {

  .c--formality__details {
    flex-direction: column;
  }
  .c--formality__frequencies {
    padding: 0;
    padding-top: 1em;
  }

}

@include himation--breakpoint-phone {

  .c--formality__details {
    align-items: center;
    flex-direction: row;
  }
  .c--formality__frequencies {
    padding: 1em;
  }
  .c--formality__frequency {
    font-size: 0.7em;
  }

}
