@import "himation/mixins/capabilities";
@import "himation/mixins/forms";
@import "himation/mixins/responsive";

$_formality-picker--grid-h-spacing: 2em;
$_formality-picker--grid-v-spacing: 2em;

.c--formality-picker {
  position: relative;
}

.c--formality-picker__error {
  @include himation--error-popover;
  bottom: 100%;
  margin-bottom: -0.5em;
}

.c--formality-picker__formalities {
  display: flex;
  flex-wrap: wrap;
  margin: $_formality-picker--grid-v-spacing * -1 $_formality-picker--grid-h-spacing * -1;
}

.c--formality-picker__formality {
  box-sizing: border-box;
  flex: 1 1 (100% / 3);
  padding: $_formality-picker--grid-v-spacing $_formality-picker--grid-h-spacing;
}

@include himation--breakpoint-condensed {

  .c--formality-picker__formality {
    flex-basis: 50%;
  }

}

@include himation--breakpoint-tablet {

  .c--formality-picker__formality {
    flex-basis: (100% / 3);
  }

}

@include himation--breakpoint-phone {

  .c--formality-picker__formalities {
    flex-direction: column;
  }
  .c--formality-picker__formality {
    flex: 1;
  }

}

@include himation--flexbox-fallback {

  .c--formality-picker__formalities {
    display: block;
  }
  .c--formality-picker__formality {
    display: inline-block;
    vertical-align: middle;
    width: (100% / 3);
  }

  @include himation--breakpoint-phone {

    .c--formality-picker__formality {
      display: block;
      width: 100%;
    }

  }

}
