@import "himation/functions/typography";
@import "himation/mixins/capabilities";
@import "himation/mixins/forms";

$_registration--input-height: 3em;
$_registration--input-padding: 0.5em;
$_registration--input-font-size: 1.75em;
$_registration--label-font-size: 1.25em;
$_registration--label-color: #aaa;
$_registration--error-font-size: 0.9em;
$_registration--error-gap: 0.25em;

.c--registration {

}

.c--registration__title {
  font-size: 2em;
  font-weight: $himation--font-weight-normal;
  margin-bottom: 0.75em;
  text-align: center;
}

.c--registration__content {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.c--registration__pitch {
  border-left: 1px solid rgba(0, 0, 0, 0.125);
  flex: 1;
  line-height: 1.25;
  order: 2;
  padding: 1em 2em;
}

.c--registration__form {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
  order: 1;
}

.c--registration__email {
  position: relative;
}

.c--registration__email__error {
  bottom: 100%;
  color: $himation--form-error-bg-color;
  font-size: $_registration--error-font-size;
  font-weight: $himation--font-weight-bold;
  padding-bottom: $_registration--error-gap;
  position: absolute;
}

.c--registration__email__input {
  @include himation--input;
  box-sizing: border-box;
  display: inline-block;
  font-size: $_registration--input-font-size;
  height: himation--relative-em($_registration--input-height, $_registration--input-font-size);
  padding: himation--relative-em($_registration--input-padding, $_registration--input-font-size);

  &::placeholder {
    color: $himation--text-muted-color;
    font-weight: $himation--font-weight-light;
  }
}

.c--registration__email__label {
  bottom: 50%;
  color: $_registration--label-color;
  font-size: $_registration--label-font-size;
  font-weight: $himation--font-weight-light;
  margin-bottom: -1em;
  padding: himation--relative-em($_registration--input-padding, $_registration--label-font-size);
  position: absolute;
  transition: bottom 0.25s, color 0.25s, font-size 0.25s;
}

%c--registration-email-top-label {
  bottom: 100%;
  color: darken($_registration--label-color, 25%);
  font-size: $_registration--error-font-size;
  margin-bottom: 0;
  padding-bottom: $_registration--error-gap;
  padding-top: 0;
}

.c--registration__buttons {
  margin-left: 0.5em;
}

.c--registration__submit {
  $_font-size: 0.8em;

  @include himation--button;
  box-sizing: border-box;
  display: inline-block;
  font-size: $_font-size;
  font-weight: $himation--font-weight-bold;
  height: himation--relative-em($_registration--input-height, $_font-size);
  letter-spacing: 0.0125em;
  padding: 1em 0.5em;
  text-transform: uppercase;
  width: 10em;
}

.c--registration.is-active {

  .c--registration__email__label {
    @extend %c--registration-email-top-label;
  }

}

.c--registration.is-invalid {

  .c--registration__email__label {
    display: none;
  }

  .c--registration__email__input {
    border-color: $himation--form-error-bg-color;
  }

}

@include himation--no-js {

  .c--registration__email__label {
    @extend %c--registration-email-top-label;
  }

}
