@import "himation/mixins/forms";
@import "himation/mixins/responsive";

$_size-picker--gutter: 1em;

.c--size-picker {
  position: relative;
}

.c--size-picker__error {
  @include himation--error-popover;
  bottom: 100%;
  margin-bottom: 0.75em;
}

.c--size-picker__groups {
  display: flex;
  flex-wrap: wrap;
  margin: 0 $_size-picker--gutter * -1;
}

.c--size-picker__group {
  box-sizing: border-box;
  flex: 1;
  padding: 0 $_size-picker--gutter;
}

.c--size-picker__group__name {
  background-color: $himation--text-color;
  color: $himation--text-contrasting-color;
  font-size: 0.9em;
  font-weight: $himation--font-weight-light;
  letter-spacing: 1px;
  margin-bottom: 0.5em;
  padding: 1em;
  text-transform: uppercase;
  width: 100%;
}

.c--size-picker__group__sizes {
  border-bottom: 1px solid $himation--input-border-color;
}

.c--size-picker__size {
  @include himation--checkbox-container($padding: 1em, $is-stacked: true);
}

.c--size-picker__size__input {

}

.c--size-picker__size__label {

}

.c--size-picker__size__name {

}

.c--size-picker__size__range {
  font-weight: $himation--font-weight-normal;
  letter-spacing: 1px;
  margin-left: 0.375em;

  &::before { content: "("; }
  &::after { content: ")"; }
}

@include himation--breakpoint-tablet {

  .c--size-picker__groups {
    margin-bottom: $_size-picker--gutter * -2;
  }
  .c--size-picker__group {
    flex-basis: 50%;
    margin-bottom: $_size-picker--gutter * 2;
  }

}

@include himation--breakpoint-phone {

  .c--size-picker__groups {
    flex-direction: column;
  }
  .c--size-picker__group {
    flex: 1;
  }

}
