@import "himation/mixins/forms";
@import "himation/mixins/responsive";

$_size-picker--gutter: 1em;

.c--size-picker {

}

.c--size-picker__error {

}

.c--size-picker__groups {
  display: flex;
  margin: 0 $_size-picker--gutter * -1;
}

.c--size-picker__group {
  flex: 1;
  padding: 0 $_size-picker--gutter;
}

.c--size-picker__group__name {
  color: $himation--text-accent-color;
  font-size: 0.85em;
  font-weight: $himation--font-weight-bold;
  margin-bottom: $_size-picker--gutter;
  padding-left: 1em;
  text-transform: uppercase;
}

.c--size-picker__group__sizes {

}

.c--size-picker__size {
  @include himation--checkbox-container($padding: 1em);
  font-size: 0.85em;
}

.c--size-picker__size__input {

}

.c--size-picker__size__label {
  display: block;
}

@include himation--breakpoint-tablet {

  .c--size-picker__groups {
    flex-direction: column;
  }

  .c--size-picker__group__name {
    margin-bottom: $_size-picker--gutter;
  }

  .c--size-picker__group {
    & + & {
      margin-top: $_size-picker--gutter * 2;
    }
  }

  .c--size-picker__group__sizes {
    display: flex;
    flex-wrap: wrap;
    margin: $_size-picker--gutter * -0.5;
  }
  .c--size-picker__size {
    flex: 1;
    margin: 0;
    padding: $_size-picker--gutter * 0.5;
    white-space: nowrap;
  }

}

@include himation--breakpoint-phone {

  .c--size-picker__group__sizes {
    flex-direction: column;
  }

}
