@import "himation/mixins/layout";

$_style-picker--grid-v-spacing: 0.75em;
$_style-picker--grid-h-spacing: 0.75em;
$_style-picker--style-padding: 1em;
$_style-picker--checkbox-size: 0.75em;

$_style-picker--style-bg-color: #fafafa;
$_style-picker--style-border-color: #f0f0f0;
$_style-picker--style-active-bg-color: $himation--branding-secondary-color;
$_style-picker--style-active-border-color: darken($_style-picker--style-active-bg-color, 25%);

.c--style-picker {

}

.c--style-picker__styles {
  display: flex;
  flex-wrap: wrap;
  margin: $_style-picker--grid-v-spacing * -1 $_style-picker--grid-h-spacing * -1;
}

.c--style-picker__style {
  box-sizing: border-box;
  flex: 1 1 (100% / 3);
  padding: $_style-picker--grid-v-spacing $_style-picker--grid-h-spacing;
}

.c--style-picker__style__input {
  @include himation--hide;
}

.c--style-picker__style__label {
  align-items: center;
  background-color: $_style-picker--style-bg-color;
  border: 1px solid $_style-picker--style-border-color;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  font-weight: $himation--font-weight-semi-bold;
  height: 100%;
  padding: $_style-picker--style-padding;
  padding-left: $_style-picker--style-padding + $_style-picker--checkbox-size + 1em;
  position: relative;

  &::before {
    background-color: $himation--page-bg-color;
    border: 2px solid currentColor;
    content: "";
    display: block;
    height: $_style-picker--checkbox-size;
    left: $_style-picker--style-padding;
    margin-top: -0.5em;
    position: absolute;
    top: 50%;
    width: $_style-picker--checkbox-size;
  }
}

.c--style-picker__style__label:hover,
.c--style-picker__style__input:focus + .c--style-picker__style__label {
  background-color: darken($_style-picker--style-bg-color, 5%);
  border-color: darken($_style-picker--style-border-color, 10%);
}

.c--style-picker__style__input:focus + .c--style-picker__style__label {
  border-color: darken($_style-picker--style-border-color, 25%);
}

.c--style-picker__style__input:checked + .c--style-picker__style__label {
  background-color: $_style-picker--style-active-bg-color;
  border-color: $_style-picker--style-active-border-color;
  box-shadow: 0 0 0 1px $_style-picker--style-active-border-color inset;
  color: $himation--branding-text-color;

  &::before {
    background-color: $_style-picker--style-active-border-color;
    border-color: $_style-picker--style-active-border-color;
  }

  &::after {
    border: 0.125em solid currentColor;
    border-right: 0;
    border-top: 0;
    content: "";
    height: $_style-picker--checkbox-size * 0.25;
    left: $_style-picker--style-padding + $_style-picker--checkbox-size * 0.25;
    margin-top: -0.25em;
    position: absolute;
    top: 50%;
    transform: rotate(-45deg);
    width: $_style-picker--checkbox-size * 0.75;
  }
}

.c--style-picker__style__input:checked:focus + .c--style-picker__style__label {
  box-shadow: 0 0 0 1px $himation--branding-text-color inset;
}
