@import "himation/mixins/forms";
@import "himation/mixins/responsive";

$_style-picker--grid-v-spacing: 0.25em;
$_style-picker--grid-h-spacing: 0.25em;

.c--style-picker {
  position: relative;
}

.c--style-picker__error {
  @include himation--error-popover;
  bottom: 96%;
}

.c--style-picker__styles {
  display: flex;
  flex-wrap: wrap;
  margin: $_style-picker--grid-v-spacing * -1 $_style-picker--grid-h-spacing * -1;
}

.c--style-picker__style {
  @include himation--checkbox-container($padding: 1em, $checkbox-size: 0.75em);
  box-sizing: border-box;
  flex: 1 1 (100% / 3);
  padding: $_style-picker--grid-v-spacing $_style-picker--grid-h-spacing;
  white-space: nowrap;
}

.c--style-picker__style__input {

}

.c--style-picker__style__label {
  align-items: center;
  display: block;
  height: 100%;
}

@include himation--breakpoint-phone {

  .c--style-picker__styles {
    flex-direction: column;
  }

}
