<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Cover Your Basics</title>

    {% for stylesheet in assets.stylesheets %}
      <link rel="stylesheet" href="{{ stylesheet }}">
    {% endfor %}
  </head>

  <body>
    {{ content | safe }}

    {% for javascript in assets.javascripts %}
      <script src="{{ javascript }}"></script>
    {% endfor %}
  </body>

</html>
